/* innagent: rampas derivadas de innagent-tokens.json */
@import 'shared/assets/fonts/inter';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family:
    'Lato',Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
}

@layer base {
  // FIXME: Use a common color file for all packs
  // scss-lint:disable PropertySortOrder
  :root {
    --slate-1: 252 252 252;
    --slate-2: 249 249 250;
    --slate-3: 240 240 241;
    --slate-4: 232 232 233;
    --slate-5: 225 225 226;
    --slate-6: 217 218 219;
    --slate-7: 206 207 208;
    --slate-8: 187 188 189;
    --slate-9: 141 142 143;
    --slate-10: 130 131 133;
    --slate-11: 99 100 101;
    --slate-12: 31 31 32;

    --iris-1: 252 253 255;
    --iris-2: 245 249 255;
    --iris-3: 235 243 253;
    --iris-4: 220 235 253;
    --iris-5: 204 225 253;
    --iris-6: 183 213 252;
    --iris-7: 158 196 244;
    --iris-8: 120 170 234;
    --iris-9: 17 109 205;
    --iris-10: 0 100 193;
    --iris-11: 15 101 190;
    --iris-12: 10 49 94;

    --ruby-1: 255 252 252;
    --ruby-2: 255 247 246;
    --ruby-3: 254 235 232;
    --ruby-4: 255 221 217;
    --ruby-5: 255 208 203;
    --ruby-6: 249 193 187;
    --ruby-7: 240 174 167;
    --ruby-8: 231 148 141;
    --ruby-9: 230 74 72;
    --ruby-10: 221 64 63;
    --ruby-11: 203 42 47;
    --ruby-12: 101 25 25;

    --amber-1: 253 253 252;
    --amber-2: 249 252 237;
    --amber-3: 243 250 207;
    --amber-4: 234 245 177;
    --amber-5: 224 237 150;
    --amber-6: 212 224 144;
    --amber-7: 195 207 128;
    --amber-8: 173 185 94;
    --amber-9: 203 217 111;
    --amber-10: 196 211 95;
    --amber-11: 117 127 42;
    --amber-12: 58 62 37;

    --teal-1: 251 254 253;
    --teal-2: 245 250 249;
    --teal-3: 229 246 243;
    --teal-4: 213 240 234;
    --teal-5: 196 230 224;
    --teal-6: 176 218 210;
    --teal-7: 151 200 191;
    --teal-8: 115 179 168;
    --teal-9: 81 159 146;
    --teal-10: 75 149 137;
    --teal-11: 61 128 117;
    --teal-12: 31 59 54;

    --gray-1: 251 252 254;
    --gray-2: 248 249 251;
    --gray-3: 239 240 242;
    --gray-4: 231 232 234;
    --gray-5: 223 224 226;
    --gray-6: 216 217 219;
    --gray-7: 205 206 208;
    --gray-8: 186 187 188;
    --gray-9: 140 141 142;
    --gray-10: 131 131 132;
    --gray-11: 100 100 101;
    --gray-12: 32 32 32;

    --background-color: 238 243 249;
    --text-blue: 0 112 216;
    --border-container: 231 231 231;
    --border-strong: 231 231 231;
    --border-weak: 231 231 231;
    --solid-1: 255 255 255;
    --solid-2: 255 255 255;
    --solid-3: 255 255 255;
    --solid-active: 255 255 255;
    --solid-amber: 231 242 180;
    --solid-blue: 220 235 255;
    --solid-iris: 219 235 255;

    --alpha-1: 67, 67, 67, 0.06;
    --alpha-2: 201, 202, 207, 0.15;
    --alpha-3: 255, 255, 255, 0.96;
    --black-alpha-1: 0, 0, 0, 0.12;
    --black-alpha-2: 0, 0, 0, 0.04;
    --border-blue: 18, 131, 245, 0.5;
    --white-alpha: 255, 255, 255, 0.8;
  }

  .dark {
    --slate-1: 17 17 18;
    --slate-2: 25 25 25;
    --slate-3: 34 34 35;
    --slate-4: 41 42 42;
    --slate-5: 48 49 49;
    --slate-6: 57 58 59;
    --slate-7: 71 71 73;
    --slate-8: 95 96 98;
    --slate-9: 109 110 111;
    --slate-10: 122 123 125;
    --slate-11: 179 180 181;
    --slate-12: 238 238 238;

    --iris-1: 14 21 29;
    --iris-2: 15 25 36;
    --iris-3: 14 39 70;
    --iris-4: 7 50 97;
    --iris-5: 14 60 112;
    --iris-6: 26 72 126;
    --iris-7: 36 85 145;
    --iris-8: 43 102 172;
    --iris-9: 13 109 206;
    --iris-10: 43 125 219;
    --iris-11: 135 185 248;
    --iris-12: 210 229 253;

    --ruby-1: 25 17 16;
    --ruby-2: 30 21 20;
    --ruby-3: 59 21 19;
    --ruby-4: 80 20 19;
    --ruby-5: 96 27 26;
    --ruby-6: 113 38 36;
    --ruby-7: 138 53 50;
    --ruby-8: 181 70 65;
    --ruby-9: 231 72 70;
    --ruby-10: 238 92 87;
    --ruby-11: 255 150 142;
    --ruby-12: 255 212 207;

    --amber-1: 18 19 14;
    --amber-2: 24 26 18;
    --amber-3: 35 38 18;
    --amber-4: 44 48 17;
    --amber-5: 54 58 22;
    --amber-6: 67 72 31;
    --amber-7: 85 91 48;
    --amber-8: 108 115 62;
    --amber-9: 203 217 120;
    --amber-10: 213 228 113;
    --amber-11: 206 220 111;
    --amber-12: 231 239 196;

    --teal-1: 16 20 19;
    --teal-2: 21 27 26;
    --teal-3: 28 42 40;
    --teal-4: 33 55 51;
    --teal-5: 42 68 63;
    --teal-6: 53 82 77;
    --teal-7: 66 99 93;
    --teal-8: 79 119 112;
    --teal-9: 99 156 146;
    --teal-10: 106 169 158;
    --teal-11: 126 203 190;
    --teal-12: 196 233 225;

    --gray-1: 17 17 17;
    --gray-2: 25 25 25;
    --gray-3: 34 34 34;
    --gray-4: 42 42 42;
    --gray-5: 49 49 49;
    --gray-6: 58 58 59;
    --gray-7: 72 72 73;
    --gray-8: 96 96 97;
    --gray-9: 110 110 111;
    --gray-10: 123 123 124;
    --gray-11: 179 180 182;
    --gray-12: 237 238 240;

    --background-color: 23 26 31;
    --border-strong: 52 58 67;
    --border-weak: 37 42 49;
    --solid-1: 23 23 23;
    --solid-2: 30 30 30;
    --solid-3: 46 46 46;
    --solid-active: 37 42 49;
    --solid-amber: 37 41 0;
    --solid-blue: 6 49 96;
    --solid-iris: 1 49 100;
    --text-blue: 125 182 255;

    --alpha-1: 36, 36, 36, 0.8;
    --alpha-2: 139, 147, 182, 0.15;
    --alpha-3: 36, 38, 45, 0.9;
    --black-alpha-1: 0, 0, 0, 0.3;
    --black-alpha-2: 0, 0, 0, 0.2;
    --border-blue: 18, 131, 245, 0.5;
    --border-container: 52 58 67;
    --white-alpha: 255, 255, 255, 0.1;
  }
}
